/*   
 * Lifeline styles
 * by Christopher Reynolds
 *   */

body {
	background:#eaf5ff;
}
.row {
    border-bottom:solid #ddd 1px;
    padding-bottom:20px;
    background:#cde1f4;
}
.span3 h1{
	margin:16px 0 0 10px;
}
.span5 {
	margin:20px;
	background: #C6E6F7;
	border-radius:0 20px 20px 0;
	padding:10px;
}
svg circle {
	position: relative;
}
table {
	
}
table td, th {
    border: 1px solid #98c4ec;
    height: 30px;
}
table td:hover {
    background:#fff;
}
table th:hover {
    background:#f3f3f3;
}
table {
	width:80%;
	margin: 0 auto;
	border-radius:10px;
	float:left;
}
.tableCell td  {
	
}
table .hover  {
	background:#ADDDF7;
}
.tableCell input  {
	border:#69C1F0 solid 1px;
	width:90%;
}
table td  {
	min-width:60px;
	height:30px;
}
#timeLine {
	width:90%;
	overflow:hidden;
}
#timelineOptions {
	width:600px;
	float:left;
	margin:-40px 0 0 200px;
}
#timelineOptions li {
	padding-left:20px;
	list-style:none;
	display:block;
	float:left;
}
input {
	height:26px;
	font-size:22px;
}
input:hover {
	background:#fff;
	border:solid 1px #bfedfe;
}
input:active {
	color:#b5b5b5;
}

#tabs {
	background: #C6E6F7;
}
#ui-tabs-1 {
	width:96%;
	min-height:600px;
	border-radius:10px;
	border:solid #eee 2px;
	margin:10px;
	padding:5px;
	background: url(../images/transparentBack.jpg) repeat;
}
#ui-tabs-2 {
	width:96%;
	min-height:600px;
	border-radius:10px;
	border:solid #C6D3F7 2px;
	margin:10px;
	padding:5px;
	background: url(../images/transparentBack.jpg) repeat;
}